  
#sc-connect, #sc-disconnect {
  border: 0; 
  display: block;
  text-indent: -9999px; 
  width: 280px; height: 44px; 
  margin-bottom: 10px;
  cursor: pointer;
}

#sc-connect {
  background: transparent url('http://connect.soundcloud.com/connect-button.png') top left no-repeat;
}

#sc-disconnect {
  background: transparent url('http://connect.soundcloud.com/disconnect-button.png') top left no-repeat;
}

