<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="/sc-connect/sc-connect.js"></script>
    <script>
      // wire up sc-connect button
      $(document).ready(function() {
        var options = {
          'request_token_endpoint': '/oauth/request_token',
          'access_token_endpoint': '/oauth/access_token',
          'callback': function(query_obj) {
            window.location.reload();
          }
        };
        SC.Connect.prepareButton($('#sc-connect')[0], options);
      });
    </script>
  </head>
  <body>
    <p>
      Connect with Soundcloud.
      <a href="#" 
         style="border: 0; 
                background: transparent url('/sc-connect/sc-connect.png') top left no-repeat;
                display: block;
                text-indent: -9999px; 
                width: 280px; height: 44px; 
                margin-bottom: 10px;" 
         id="sc-connect">
           Connect with SoundCloud
      </a>
    </p>
  </body>
</html>
